.navigation_container{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation_container img{
    max-width: 100px;
    max-height: 100px;
}

.spacer{
    flex: 1;
}
