.pizza_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pizza_inner-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 450px;
    width: 75%;
    margin: 1rem;
    color: white;
}

.pizza_inner-container h1 {
    font-size: 45px;
    text-shadow: 2px 2px 5px #040404;
}

.pizza_inner-container h3 {
    font-size: 35px;
    text-shadow: 2px 2px 5px #040404;
}

.pizza_price {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 50px;
    color: gold;
    text-shadow: 2px 2px 5px #040404;
}

.cart_button {
    align-self: flex-end;
    margin-bottom: 1rem;
}

.pizza_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
}

@media (max-width: 600px) {
    h3 {
        font-size: 18px;
        font-weight: normal;
    }

    h1 {
        font-size: 30px;
    }

    .pizza_container {
        min-height: max-content;
    }

    .pizza_price {
        top: 1%;
        font-size: 25px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    h3 {
        font-size: 25px;
        font-weight: normal;
    }

    h1 {
        font-size: 35px;
    }

    .pizza_container {
        min-height: max-content;
    }

    .pizza_price {
        top: 1%;
        font-size: 25px;
    }
}

@media (min-width: 601px) and (max-width: 950px){
    h3{
        font-size: 25px;
        font-weight: normal;
    }
    h1{
        font-size: 35px;
    }

    .pizza_container{
        min-height: max-content;
    }
    .pizza_price{
        top: 1%;
        font-size: 25px;
    }
}

