.order_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    border-bottom: 1px solid #8ed226;
    flex-direction: row;
    padding: 0 20px;
}
