.checkout_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.order_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
}
