.input_group {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

.input_label {
    padding-bottom: 10px;
    text-align: start;
}

.input_group input {
    flex: 1;
    padding: 10px;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    border-bottom: 2px solid gold;
    border-radius: 5px;
    width: 100%;
}

.input_group input:active,
.input_group input:focus {
    border-bottom: 2px solid goldenrod;
}

.input_error_label {
    color: darkred;
}

