
.footer_container{
    border-top: 1px solid black;
    margin-top: 10rem;
    color: darkviolet;
    width: 75%;
}

.footer_container img{
    width: 40px;
    height: 30px;
    margin: 10px;
}

.currency_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.currency_container img{
    /*padding: 1rem;*/
    box-sizing: border-box;
}

.currency_container img:hover{
    cursor: pointer;
    border: 1px solid crimson;
}
