.login_form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login_form-inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    min-height: 350px;
    border-radius: 10px;
    padding-bottom: 1rem;
}

.login_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.login_error{
    color: darkred;
}

.registration_link_container{
    padding-top: 2rem;
}

.registration_link_container a{
    color: #8ed226;
}
.registration_link_container a:hover{
    color: darkorange;
}
