.cart_overview-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.total_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
}

.cart_overview-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}
