.tooltip_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    bottom: 5%;
}

.tooltip_content .input_group{
    width: inherit;
}

.tooltip_actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
