.cart_container {
    position: fixed;
    top: 15%;
    right: 5%;
    z-index: 1;
}

.cart_container:hover {
    cursor: pointer;
}

.cart_inner-container {
    position: absolute;
    top: 0;
    right: 5%;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    padding: 4px;
    border: 1px solid crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_container img {
    width: 55px;
    height: 55px;
}

.cart_total {
    position: absolute;
    bottom: 8%;
    color: crimson;
    font-weight: bold;
    font-size: 20px;
}

.cart_items {
    position: absolute;
    top: 15%;
    left: 60%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    background-color: #8ed226;
    padding: 5px;
}

.clear_cart-container{

}
.clear_cart {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.clear_cart-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear_cart:hover {
    color: white;
}

@media (max-width: 600px) {
    .cart_inner-container{
        width: 70px;
        height: 70px;
        background-color: rgba(255,255,255, 0.5);
    }

    .cart_container img{
        width: 35px;
        height: 35px;
    }
    .cart_total{
        font-size: 15px;
        text-shadow: 2px 2px 5px #040404;
        color: blue;
    }
    .cart_items{
        top: 0%;
        left: 60%;
    }
}
