.registration_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registration_inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    min-height: 350px;
    border-radius: 10px;
    padding-bottom: 1rem;
}

.registration_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.login_link_container{
    padding-top: 2rem;
}

.login_link_container a{
    color: #8ed226;
}
.login_link_container a:hover{
    color: darkorange;
}
